@using EntityLayer.Concrete
@model List<Contact>
<div class="row">
    <div class="col-md-12 stretch-card">
        <div class="card">
            <div class="card-body">
                <p class="card-title">Recent Purchases</p>
                <div class="table-responsive">
                    <table id="recent-purchases-listing" class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Ad Soyad</th>
                                <th>Mail</th>
                                <th>Tarih</th>
                                <td align="center" style="font-weight: bold;">Mesajı Gör</td>
                            </tr>
                        </thead>
                       
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.ContactId</td>
                                    <td>@item.Name</td>
                                    <td>@item.Mail</td>
                                    <td>@(((DateTime)item.Date).ToString("dd MMMM yyyy"))</td>
                                    <td align="center"><a href="#" class="btn btn-info" style="height: 50px; display: flex; justify-content: center; align-items: center; text-align: center;">Mesajı Gör</a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

